<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tienda Gomez Sport</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
     
      </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/imagenes/logo.jpg"></ion-img>
      <h3>Somos una Tienda en linea en donde Encontaras Ropa deportiva, escolar y mucho mas en sublimacion</h3>
    </ion-card-content>
  </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Lo Nuevo</ion-card-title>
    </ion-card-header>
  
  <ion-card-content>
    <ion-img src="assets/imagenes/sueter.jpg"></ion-img>
  </ion-card-content>
</ion-card> 

<ion-card>
 <ion-card-header>
  <ion-card-title>La mera Jefa: Mirna Zuniga</ion-card-title>
  </ion-card-header>

 <ion-card-content>
  <ion-img src="assets/imagenes/foto1.jpg"></ion-img>
 </ion-card-content>
 </ion-card> 

<ion-card>
  <ion-card-header>
   <ion-card-title>Diseñadora: Katherin Perez</ion-card-title>
   </ion-card-header>
 
  <ion-card-content>
   <ion-img src="assets/imagenes/foto2.jpg"></ion-img>
  </ion-card-content>
</ion-card> 

<ion-card>
  <ion-card-header>
   <ion-card-title>Secretaria: Soany Gomez</ion-card-title>
   </ion-card-header>
 
  <ion-card-content>
   <ion-img src="assets/imagenes/foto3.jpg"></ion-img>
  </ion-card-content>
</ion-card> 


</ion-content>
